@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Lora:wght@400;700&display=swap');

* {
	font-family: 'Lora', serif;
}

body {
	max-width: 600px;
	padding: 40px;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.3;
}

pre, code {
	font-family: 'Fira Code', monospace;
}

a {
	color:rgb(0, 98, 155);
	text-decoration: none;
}

nav {
	border-bottom: 3px solid rgba(0, 0, 0, 0.3);
	padding-bottom: 10px;
}

footer {
	border-top: 3px solid rgba(0, 0, 0, 0.3);
	margin-top: 20px;
	/* padding-top: 10px; */
	text-align: center;
}

.notice	{
	font-style: italic;
}

.dimmed {
	opacity: 0.5;
	transition: 0.2s;
}
.dimmed:hover {
	opacity: 1.0;
}

